@use 'abstract' as *;

html{
    font-family: "DM Serif Display",serif;
}

body{
    display: grid;
    grid-template-columns: 1fr minmax(500px,1100px) 1fr;

    background: $white-smoke;
}
.wrapper{
    grid-column: 2 / 3;

    background: white;
}

$image-size: 70px;

$left-margin-from-wrapper: $spacing-larger;
$top-margin-from-wrapper : $spacing-smaller;

$link-space-left-right: $spacing-small; 

//this value was arbitrary but seemed to work somewhat..
$absolute-large-padding: 75px;

.top-menu{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin:$top-margin-from-wrapper $left-margin-from-wrapper;

    .logo-container{
        //flex: 1 1 10%;
        img{
            width:$image-size;
            object-fit:cover;
        }
    }
    
    ul{
        list-style: none;
        display: flex;
        li{
            padding: $spacing-normal $link-space-left-right;
            text-transform: capitalize;
            >a{
                text-decoration: none;
                color:black;
                font-size: $font-normal;
            }
        }
    }

   >ul + div{
       padding: $spacing-normal 0;
       margin-left:auto;

        a{
            text-decoration: none;
        }
        a:nth-child(1)
        {
            padding-left: $spacing-small;
            color: $dark-blue;
            font-size: $font-normal;
        }
        a:nth-child(2)
        {
            padding-left: $spacing-small;
            color: black;
            font-size: $font-small;
        }
   }
}



.wrapper > nav + div{
    margin: $top-margin-from-wrapper 0;
    margin-left:$left-margin-from-wrapper;

    ul{
        display: flex;
        list-style: none;
        li{
            text-transform: capitalize;
            a{
                font-family: sans-serif;
                text-decoration: none;
                color: black;
                font-size: $font-small;
            }
        }
        li:nth-child(1)
        {
            a{
                color: $red;    
            }
        }
        li:nth-child(2)
        {
            a{
                margin-left: $link-space-left-right;    
            }
        }
    }
}



/*.main-img-container{
    margin: 0 $left-margin-from-wrapper;
    img{
        width: 100%;
    }
}*/
.ableton-main-picture{
    margin: 0 $left-margin-from-wrapper;
    background-image: url("img/ableton-main-picture.png");
    background-size: cover;

    min-height: calc(100vh - 120px);

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        font-size: $font-larger;
        color:$red;
    };
}



.main-paragraph{
    margin: 0 $left-margin-from-wrapper;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;

    p{
        padding: 0 $absolute-large-padding; 
        i{
            text-decoration: normal;
            color: $dark-blue;
            font-style: normal;
        }
    }
    p:nth-child(1)
    {
        font-size: $font-large;
        padding-top: $absolute-large-padding; 
    }
    p:nth-child(2)
    {
        font-size: $font-small;
        padding-top: 10px;
        padding-bottom: $absolute-large-padding;
    }
}



