@use 'abstract' as *;

html{
    font-family: "DM Serif Display",serif;
}

$image-size: 75px;

$left-margin-from-wrapper: $spacing-larger;
$top-margin-from-wrapper : $spacing-smaller;

$link-space-left-right: $spacing-small; 

.top-menu{
    display: flex;
    border-bottom: 1px solid lightgray;
    img{
        width: $image-size;
        margin:$top-margin-from-wrapper $left-margin-from-wrapper;
    }

    ul{
        list-style: none;
        display: flex;
        
        li{
            padding: $spacing-large $link-space-left-right;
            text-transform: capitalize;
            >a{
                text-decoration: none;
                color:black;
                font-size: $font-normal;
            }
        }
        
        
    }

   >ul + div{
       padding: $spacing-large 0;
       margin-left:auto;

        a{
            padding: 0 $spacing-small;
            text-decoration: none;
        }
        a:nth-child(1)
        {
            color: $dark-blue;
            font-size: $font-normal;
        }
        a:nth-child(2)
        {
            color: black;
            font-size: $font-small;
        }
   }
}



body > nav + div{
    margin: $top-margin-from-wrapper 0;
    margin-left:$left-margin-from-wrapper;

    ul{
        display: flex;
        list-style: none;
        li{
            text-transform: capitalize;
            a{
                font-family: sans-serif;
                text-decoration: none;
                color: black;
                font-size: $font-small;
            }
        }
        li:nth-child(1)
        {
            a{
                color: $red;    
            }
        }
        li:nth-child(2)
        {
            a{
                margin-left: $link-space-left-right;    
            }
        }
    }
}