@use "../abstract" as *;

//this value was arbitrary but seemed to work somewhat..
$absolute-large-padding: 75px; //duplicated in style.css
$left-margin-from-wrapper: $spacing-larger; //duplicated in style.css

.paragraphs{
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding:0 $left-margin-from-wrapper;

    p{
        padding: 0 $absolute-large-padding; 
        i{
            text-decoration: normal;
            color: $dark-blue;
            font-style: normal;
        }
        font-size: $font-small;
        padding-top: 10px;
    }
    p:nth-child(1)
    {
        font-size: $font-large;
        padding-top: $absolute-large-padding; 
    }
    p:last-child{
        padding-bottom: $absolute-large-padding;
    }
}