//all these values are super arbitrary as of now and I must work on getting good values.
$spacing-smaller: 0.5em;
$spacing-small  : 1em;
$spacing-normal : 1.5em;
$spacing-large  : 2.0em;
$spacing-larger : 2.5em;

$font-smaller: 0.5rem;
$font-small  : 0.75rem;
$font-normal : 1.0rem;
$font-large  : 2rem;
$font-larger : 2.5rem;
//all these values are super arbitrary as of now and I must work on getting good values.
